<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Boite à dates</title>
    <link href="/static/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="card_page">
        <div class="card">
            <div class="stick_head" style="background-color:{{card['color']}}"></div>
            <div class="card_content">{{card["card"]}}</div>
         </div>
        <div class="categories">
        {% for category in card['categories'] %}
        <div class="category">    
            <div class="round" style="background-color:{{category['color']}}"></div><div class="category_name">{{ category['category'] }}</div><br>
        </div>
        {% endfor %}
        </div>

    </div>
</body>
</html>
