<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Boite à dates</title>
    <link href="{{url_for('static', filename='css/home_style.css')}}" rel="stylesheet" />
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>
<body>
    {% with color=color %}
        {% include 'nav.html' %}
    {% endwith %}
    <div class="wrapper">
        <div class="home_text">
            <p>
            Bienvenue sur la page d'accueil de la boite à dates !
            <br>
            Clique sur une catégorie pour tirer une carte
            </p>
        </div>

            <div class="categories">
                {% for category in categories %}
                <div class="category">    
                    <div class="round" style="background-color:{{category['color']}}"></div><div class="category_name"><a href="{{ url_for('api/v1.pick_card_cat' , number=category['id_cat'])}}" onmouseover="this.style.color='{{category['color']}}';" onmouseout="this.style.color='';"> {{ category['category'] }} </a></div><br>
                </div>
                {% endfor %}
            </div>
            {{ toastr.include_toastr_js() }}
    </div>
</body>
</html>