<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Boite à dates</title>
    <link href="{{url_for('static', filename='css/creation_forms.css')}}" rel="stylesheet" />
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
</head>
<body>
    {% with color=color %}
        {% include 'nav.html' %}
    {% endwith %}

    
    <form action="{{ url_for('api/v1.insert_category') }}" method="post" class="form-card">
        <div class="text-card">
            <label class="text-label" form="cat_text"> Texte de la catégorie</label>
            <input type="text" class="text-card-input" name="cat_text" id="card_text" placeholder="Entre le texte de ta carte" required>
        </div>
        <div class="text-card">
            <label class="text-label" form="cat_color"> Couleur de la catégorie</label>
            <input type="color" class="color-card-input" name="cat_color" id="cat_color" value="#6600cc" required>
        </div>

        <div class="validate-form">
            <input type="button" value="Annuler" class="cancel-button" onclick="window.location.href='{{url_for('api/v1.home')}}';">

            <input type="submit" value="Valider" class="validate-button">
        </div>

    </form>

    {{ toastr.include_toastr_js() }}

</body>
</html>