<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Boite à dates</title>
    <link href="/static/css/card_creation.css" rel="stylesheet" />
</head>
<body>
    {% with color=color %}
        {% include 'nav.html' %}
    {% endwith %}

    <form action="{{ url_for('api/v1.insert_card') }}" method="post" class="form-card">
        <div class="text-card">
            <label class="text-label" form="card_text"> Texte de la carte</label>
            <input type="text" class="text-card-input" name="card_text" id="card_text" placeholder="Entre le texte de ta carte" required>
        </div>
        <select name="category_list" class="select-cat">
            {% for element in categories %}
                <option value="{{element['id_cat']}}">
                    {{element['category']}}
                </option>
            {% endfor %}
        </select>
        <div class="validate-form">
            <input type="button" value="Annuler" class="cancel-button" onclick="window.location.href='{{url_for('api/v1.home')}}';">

            <input type="submit" value="Valider" class="validate-button">
        </div>

    </form>


</body>
</html>