<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Boite à dates</title>
    <link href="/static/css/navbar_style.css" rel="stylesheet" />
</head>
<body>

<ul style="background-color: {{color}}";>
    <li><a href="{{ url_for('api/v1.home') }}">Accueil</a></li>
    <li><a href="{{ url_for('api/v1.pick_card') }}">Tirer une carte</a></li>
    <li><a href="{{ url_for('api/v1.insert_card')}}">Ajouter une carte</a></li>
    <li><a href="{{ url_for('api/v1.insert_category')}}">Ajouter une catégorie</a></li>
  </ul> 

</body>
</html> 