.card_pool{
    padding-top:5%;
}

.card_page{
    width:100%;
    padding-top: 2%;
    text-align:center;
}

.card{
    display:inline-flex;
}

.card_content{
    font-family:trial;
    font-size: 1.5em;
    height:35px;
    width:350px;
    border-radius:0 20px 20px 0;
    background-color: bisque;
    padding-top:5px;
}


.stick_head{
    height:40px;
    width:50px;
    border-radius: 20px 0 0 20px;
}