.wrapper{
    text-align: center;
}

.home_text{
    margin-top:5%;
    font-family: trial;
}

.categories{
    border:solid 1px #000;
    display: inline-grid;
}

.round{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:solid 1px #000;
 }

 .categories div{
    position:relative;
    padding:10px;
}

.category{
    font-family: trial;
    display: inline-flex;
}

.category_name a{
    text-decoration: none;
    color: #000;
}
