.form-card{
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    font-family: trial;
    border:solid 1px #000;
    margin:2% 30% 2% 30%;
}

.text-card{
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

label{
    padding-right:2%;
    display: inline-block;
    width: 150px;
    text-align: right;
}

.text-card-input{
    height: 40px;
    width: 39%;
    border:rgb(217, 192, 192) solid 0.5px;
    border-radius: 5px;
    font-family: trial;
}

.color-card-input{
    width:2%;
}

.select-cat{
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    font-family: trial;
}

.validate-button{
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    background-color: #32a851;
    font-family: trial;;
}

.validate-button:hover{
    background-color: #298241;
    color: white;
}


.cancel-button{
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 1%;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    background-color: #a83246;
    font-family: trial;
}

.cancel-button:hover{
    background-color: #770a1c;
    color: white;
}

.login-form{
    font-family: trial;
    position: relative;
	width:100%;
	height: 100%;
    text-align: center;
}