.card_page{
    width:100%;
    padding-top: 2%;
    text-align:center;
}

.category{
    display:inline-flex;
}

.category .round{
    height: 30px;
    width:30px;
    border-radius: 50%;
    border:solid 1px #000;
 }

.category .category_name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

.card{
    display:inline-flex;
}

.stick_head{
    height:40px;
    width:50px;
    border-radius: 20px 0 0 20px;
}

.card_content{
    height:30px;
    width:250px;
    border-radius:0 20px 20px 0;
    background-color: bisque;
    padding-top:10px;
}
